/* styles */
body {
	min-width: 480px;
	background: #6c7888;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.4em;
	color: #121314;
	cursor: default;
}

.main_wrapper {
	margin: 0 auto;
	width: 480px;
	background: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
h2.title{
	font-size: 40px;
	line-height: 1.1em;
	text-transform: uppercase;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 10px;
}
h2.title span{
	color: #20c6cb;
}
h2.title:after{
	content: '';
	width: 80px;
	height: 4px;
	background: #20c6cb;
	display: block;
	margin: 5px auto 0;
}
section{
	padding: 40px 0;
}

.color_theme{
	background: #20c6cb;
	color: #fff;
}
.title.white{
	color: #fff;
}
.title.white>span{
	color: #fffc00;
}
.title.white:after{
	background: #fffc00;
}

.m1-form{
	padding: 0 25px;
}
.m1-form input{
	width: 100%;
	display: block;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	border: #dadbdc 1px solid;
	font-size: 17px;
	margin-bottom: 10px;
	height: 80px;
	border-radius: 40px;
	background: #f5f6f7;
	text-align: center;;
	color: #222;
}
.m1-form .button-m{
	margin-top: 0;
}
.m1-form ::-webkit-input-placeholder {
	color: #222;
}
.m1-form ::-moz-placeholder {
	color: #222;
}
.m1-form :-moz-placeholder {
	color: #222;
}
.m1-form :-ms-input-placeholder {
	color: #222;
}
.m1-form :focus::-webkit-input-placeholder {
	color: transparent;
}
.m1-form :focus::-moz-placeholder {
	color: transparent;
}
.m1-form :focus:-moz-placeholder {
	color: transparent;
}
.m1-form :focus:-ms-input-placeholder {
	color: transparent;
}

/* button */
.button-m{
	border: none;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	height: 80px;
	width: 350px;
	display: block;
	border-radius: 40px;
	line-height: 80px;
	text-decoration: none;
	text-align: center;
	background: #ffcb00;
	background: -moz-linear-gradient(top, #ffcb00 0%, #ff9c00 100%);
	background: -webkit-linear-gradient(top, #ffcb00 0%,#ff9c00 100%);
	background: linear-gradient(to bottom, #ffcb00 0%,#ff9c00 100%);
	border-bottom: 4px solid #e48b00;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	font-size: 22px;
	margin: 0px auto;
	color: #121314;
	position: relative;
	text-shadow: 0 2px 1px rgba(255,255,255,0.3);
}
.button-m:active{
	background: #ff9c00;
	background: linear-gradient(to bottom, #ff9c00, #ffcb00);
	top: 2px;
}



/*  offer_section   */
.offer_section{
	background: #fff;
	padding: 0 0 30px;
}
.main_title{
	background: #26b5b9;
    background-image: -webkit-gradient(linear, left top, right top, from(#1ad4da), to(#26b5b9));
    background-image: -webkit-linear-gradient(left, #1ad4da 0%, #26b5b9 100%);
    background-image: -moz-linear-gradient(left, #1ad4da 0%, #26b5b9 100%);
    background-image: -o-linear-gradient(left, #1ad4da 0%, #26b5b9 100%);
    background-image: linear-gradient(to right, #1ad4da 0%, #26b5b9 100%);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 70px;
    height: 75px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 5px;
}
.main_subtitle{
    background: #fff;
    text-align: center;
    padding: 10px 7px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.1em;
}
.offer_section .box{
	position: relative;
	background: url(../images/offer.jpg) 50% 0% no-repeat;
	min-height: 480px;
	padding-top: 280px;
	margin-bottom: 0;
}
.forget-pain {
    text-align: right;
    text-transform: uppercase;
    color: #444444;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: inherit;
    line-height: 40px;
    position: absolute;
    background: #ffffff91;
    right: 0;
    top: 195px;
    padding: 5px 6px 2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}
.forget-pain span {
    display: block;
    font-weight: 900;
    color: #00d5d6;
    text-shadow: 0 2px 0 #ffffff;
}
.transform {
	text-align: center;
	text-transform: uppercase;
	color:#85c00c;
	font-size: 19px;
	font-weight: 700;
	letter-spacing: .6px;
	line-height: 1.4em;
	padding-bottom: 10px;
}
.transform span {
	display: block;
	color:#2885d2;
}
.pain {
	text-align: center;
	margin-bottom: 30px;
}
.pain li {
	display: inline-block;
	padding: 0 10px;
}
.pain img {
	display: block;
	border-radius: 50%;
	border:1px solid #ff3600;
}
.offer_section .sale{
	width: 142px;
	height: 155px;
	background: url(../images/sale.png) 50% 0% no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}
.offer_section .sale>p{
	color: #fff;
	font-weight: 700;
	width: 200px;
	text-align: center;
	transform: rotate(48deg);
	position: absolute;
	top: 50px;
	left: -14px;
	font-size: 20px;
}

.offer_section .box>img{
	display: block;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
}

.offer_desc{
	width: 150px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	text-align: center;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-size: 23px;
	line-height: 26px;
	position: absolute;
	top: 58px;
	left: 38px;
	letter-spacing: 0.6px;
}
.offer_desc>span{
	display: block;
	color: #fffc00;
}

.price_block{
	width: 410px;
	margin: 0 auto 30px;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
	position: relative;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
}
.price_block:before{
	content: '';
	width: 12px;
	height: 100px;
	background: url(../images/price_arrow.png) 50% 50% no-repeat;
	position: absolute;
	top: 0;
	right: 100px;
}
.price_block .price{
	width: 300px;
    height: 100px;
    float: left;
    background: #20c6cb;
}
.price>div{
	width: 50%;
	float: left;
	font-size: 20px;
	line-height: 1.1em;
	font-weight: 700;
	padding-top: 20px;
}
.price>div>p{
	font-size: 42px;
	line-height: 1.1em;
}
.price>div>p>small{
	font-size: 0.7em;
}
.price .old{
	color: #94e9e9;
}
.price .old span{
	text-decoration: line-through;
}
.price .new{
	color: #ffffff;
}
.price_block .economy{
	width: 110px;
	height: 100px;
	float: left;
	background: #ff3600;
	background: -moz-linear-gradient(top, #ff3600 0%, #c80505 100%);
	background: -webkit-linear-gradient(top, #ff3600 0%,#c80505 100%);
    background: linear-gradient(to bottom, #ff3600 0%,#c80505 100%);
	font-size: 20px;
	line-height: 1.1em;
	color: #fff;
	font-weight: 700;
	padding-top: 24px;
}
.price_block .economy>span{
	display: block;
	font-size: 30px;
	line-height: 1.1em;
}
.list1>li{
	padding-left: 28px;
	margin-bottom: 12px;
	position: relative;
}
.list1>li:before{
	content: '';
	width: 20px;
	height: 20px;
	background: url(../images/check1.png) 50% 50% no-repeat;
	position: absolute;
	top: 3px;
	left: 0;
}
.list1>li:last-child{
	margin-bottom: 0;
}
.offer_section .list1{
	padding: 0 40px;
	margin-bottom: 30px;
}

.formbox{
	width: 410px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0 5px 20px 3px rgba(0,0,0,0.1);
	padding: 25px 5px 30px;
	background: #fff;
}

.timer{
	margin-bottom: 30px;
}
.timer>p{
	font-size: 22px;
	text-align: center;
	margin-bottom: 12px;
}
.timer .timer_container{
	font-size: 0;
	text-align: center;
}
.timer_container .timer_block{
	display: inline-block;
	vertical-align: top;
	width: 70px;
	margin: 0 10px;
	position: relative;
	font-weight: 800;
	color: #2885d2;
}
.timer_container .timer_block:not(:last-child):after{
	content: ':';
	font-size: 30px;
	line-height: 30px;
	color: #2885d2;
	position: absolute;
	top: 8px;
	right: -15px;
}
.timer_container .timer_block.day{
	color: #a8a9aa;
}
.timer_block .count{
	font-size: 42px;
	line-height: 1.1em;
}
.timer_block .text{
	font-size: 18px;
	line-height: 1.1em;
}

.prod_count{
	text-align: center;
	margin-top: 25px;
}
.prod_count>span{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	background: #85c00c;
	color: #fff;
	font-weight: 700;
}


/*video_sect*/
.video_sect{
	padding: 0;
}

.video_sect p{
    text-align: justify;
    text-align-last: center;
    padding: 10px 20px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #5a5a5a;	
}

.video_sect p span{
    font-weight: 600;
    background: #20c6cb1f;
    color: #008c8f;
    padding: 2px 4px;
    border-radius: 3px;
}

.video_block{
	background: #ccc;
	position: relative;
	overflow: hidden;
	height: 270px;
}
.video_block .youtube,
.video_block iframe,
.video_block object{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*sect2*/
.sect2{
	position: relative;
	padding-bottom: 50px;
}
.sect2 .title span{
	display: block;
}
.sect2:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	border-left: 240px solid #fff;
	border-right: 240px solid #fff;
	border-top: 20px solid #20c6cb;
}

.benef1{
	padding: 0 25px;
	position: relative;
}
.benef1:before{
	content: '';
	position: absolute;
	top: 10px;
	left: 49px;
	width: 3px;
	height: 100%;
	background: url(../images/benef1_bg.png) 50% 10px repeat-y;
	z-index: 1;
}
.benef1>li{
	padding-left: 78px;
	position: relative;
	z-index: 2;
	margin-bottom: 20px;
}
.benef1>li:last-child{
	margin-bottom: 0;
	padding-bottom: 10px;
}
.benef1>li .number{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 800;
	color: #85c00c;
	font-size: 30px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 5px;
	left: 0;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.15), 0 0 0 5px rgba(255,255,255,0.15);
}
.benef1>li>span{
	color: #fffc00;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

.sect2 .alert{
	width: 430px;
	background: #fff;
	margin: 0 auto;
	border-radius: 8px;
	padding: 12px 40px 14px;
	font-size: 25px;
	line-height: 1.2em;
	font-weight: 700;
	color: #121314;
	text-align: center;
}
.sect2 .alert>span{
	color: #85c00c;
	display: block;
}


/*benef3*/
.benef2{
	font-size: 0;
	text-align: center;
}
.benef2>li{
	width: 200px;
	display: inline-block;
	margin: 0 15px 25px;
	vertical-align: top;
}
.benef2>li>img{
	display: block;
	margin: 0 auto 12px;
	border-radius: 6px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
}
.benef2>li>p{
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
}


.sect3 .button-m{
	margin-top: 10px;
}
.fototext {
	background: url(../images/char.jpg) no-repeat 0 0;
}
.fototext p {
	font-size: 19px;
}
.fototext p:nth-child(1) {
	padding: 8px 10px 50px 245px;
}
.fototext p:nth-child(1) b {
	display: block;
	margin-bottom: 5px;
}
.fototext b {
	color:#2885d2;
	font-weight: 700;
}
.fototext p:nth-child(2) {
	padding: 0px 20px 30px;
}

/*sect4*/
.sect4{
	background: #f5f6f7;
	padding-bottom: 0;
}
.sect4>p{
	padding: 0 20px;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}
.sect4>p>span{
	background: #85c00c;
	color: #fff;
}
.sect4>p:after{
	content: '';
	width: 50px;
	height: 54px;
	background: url(../images/arrow.png) 50% 50% no-repeat;
	position: absolute;
	bottom: -42px;
	right: 100px;
}

.sect4 .container>img{
	float: left;
}
.sect4 .container .list2{
	padding: 15px 10px 0 180px;
}
.list2>li{
	padding-left: 32px;
	margin-bottom: 20px;
	position: relative;
}
.list2>li:last-child{
	margin-bottom: 0;
}
.list2>li:before{
	content: '';
	width: 22px;
	height: 20px;
	background: url(../images/check2.png) 50% 50% no-repeat;
	position: absolute;
	top: 3px;
	left: 0;
}

.sect4 .alert{
	border-top: 5px solid #fff;
	height: 265px;
	background: url(../images/s4_alert.jpg) 50% 0% no-repeat;
	padding: 41px 15px 0 280px;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
	color: #fff;
	font-weight: 700;
	text-align: right;
	font-size: 25px;
	line-height: 1.2em;
}
.sect4 .alert>span{
	color: #fffc00;
}


/*sect5*/
.sect5{
	padding-bottom: 0;
}

.sect5 .title span{
	display: block;
}

.benef3{
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}
.benef3>li{
	display: table;
	width: 100%;
}
.benef3>li .img{
	width: 240px;
	display: table-cell;
	vertical-align: middle;
	background: #f5f6f7;
}
.benef3>li .img>img{
	display: block;
	margin: 0 auto;
}
.benef3>li .text{
	width: 240px;
	display: table-cell;
	vertical-align: middle;
	padding: 10px 20px;
	text-align: center;
}
.benef3>li .text>span{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-weight: 800;
	font-size: 25px;
	color: #fff;
	background: #2885d2;
	display: block;
	margin: 0 auto 10px;
}

.sect5 .button-m{
	margin-top: 35px;
}


/*sect6*/
.sect6>img{
	display: block;
	margin: -15px auto 20px;
}

.list3{
	padding: 0 15px 30px;
}
.list3>li{
	display: table;
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	background: #f5f6f7;
	border-radius: 8px;
	border-left: 10px solid #20c6cb;
	padding: 12px 10px 12px 20px;
	font-size: 15px;
	line-height: 1.2em;
}
.list3>li>b{
	display: table-cell;
	vertical-align: middle;
	width: 140px;
	font-size: 16px;
}
.list3>li>p{
	display: table-cell;
	vertical-align: middle;
	width: 280px;
	text-align: right;
}


/*sect7*/
.rev_item{
	width: 410px;
	margin: 0 auto;
	border-radius: 12px;
	overflow: hidden;
	background: #fff;
	text-align: center;
	color: #121314;
	padding-bottom: 20px;
	font-size: 18px;
}
.rev_item>img{
	display: block;
	margin: 0 auto;
}
.rev_item>span{
	display: block;
	padding: 0 10px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.rev_item>span:before{
	content: '';
	width: 70px;
	height: 70px;
	background: url(../images/rev_q.png) 50% 50% no-repeat;
	display: block;
	margin: -35px auto 15px;
	position: relative;
	border-radius: 50%;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
}
.rev_item>p{
	padding: 15px 20px 0;
}
.rev_item>p.name{
	color: #a8a9aa;
	margin-top: 10px;
}

.reviews .owl-prev,
.reviews .owl-next{
	width: 60px;
	height: 60px;
	background: url(../images/rev_arrow.png) 0% 50% no-repeat, rgb(32, 198, 203);
	border-radius: 0 12px 12px 0;
	position: absolute;
	top: 210px;
}
.reviews .owl-prev{
	left: 0;
}
.reviews .owl-next{
	background-position: 100% 50%;
	right: 0;
	border-radius: 12px 0 0 12px;
}

.reviews .owl-dots{
	font-size: 0;
	text-align: center;
	margin-top: 25px;
}
.reviews .owl-dot{
	width: 60px;
	height: 15px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	border: 3px solid #fff;
	border-radius: 8px;
}
.reviews .owl-dot.active{
	background: #fff;
}

.sect7 .button-m{
	margin-top: 30px;
}


/*sect8*/
.sect8 .title>span{
	display: block;
}

.order_list{
	padding: 0 30px;
}
.order_list>li{
	display: table;
	width: 100%;
	margin-bottom: 30px;
}
.order_list>li .img{
	width: 80px;
	display: table-cell;
	vertical-align: middle;
}
.order_list>li .img>img{
	display: block;
	margin: 0 auto;
	border-radius: 12px;
}
.order_list>li .text{
	padding-left: 20px;
	display: table-cell;
	vertical-align: middle;
}
.order_list>li .text>span{
	font-weight: 700;
	display: block;
	margin-bottom: 3px;
	text-transform: uppercase;
}
.order_list>li:last-child{
	margin-bottom: 0;
}


/*bottom_offer*/
.bottom_offer {
	background:#fff url(../images/bg_footer.jpg) no-repeat center 166px;
}
.bottom_offer .box{
	height: 590px;
	background: none;
}

.bottom_offer .formbox{
	padding: 5px 5px 30px;
}
.bottom_offer .timer{
	padding: 20px 0 25px;
	background: #f8f9fa;
}

.formbox>h4{
	text-align: center;
	font-size: 25px;
	line-height: 1.1em;
	margin-bottom: 4px;
}
.formbox>h4+p{
	text-align: center;
	padding: 0 20px;
	margin-bottom: 25px;
}
.formbox>h4+p>span{
	display: block;
    color: #df1902;
    font-weight: 700;
}

/* footer */
.footer_section {
	padding: 10px 0;
	background: #fff;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #222;
	display: block;
}

.offer_text {
font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    letter-spacing: -0.2px;
    margin-left: 10px;
    height: 25px;
    top: -26px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

.offer_text>span {
    padding-left: 12px;
    padding-right: 12px;
}

.ph3{
	margin: 0 auto -60px !important;
}